ETHERSCAN_API_KEY=
RINKEBY_URL=
GOERLI_URL=
PRIVATE_KEY=
REPORT_GAS=true

# Get an API key here if you want to see USD prices in test reports
# https://pro.coinmarketcap.com/signup
COINMARKETCAP_API_KEY=abcdefg-1234-5678-90ab-cdefghijklmn
