.DS_Store
.idea

node_modules
.env
coverage
coverage.json

#Hardhat files
cache
artifacts
deployments/localhost/

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
