.DS_Store
.idea

node_modules
.env
coverage
coverage.json

#Hardhat files
cache
artifacts
deployments/localhost/
deployments/tenderly*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

.openzeppelin/unknown-1337.json
scripts/tenderly/*.json
