node_modules
artifacts
cache
coverage*
gasReporterOutput.json
.yarn/
typechain/
deployments/
abis/
.env.example
.eslintignore
.gitignore
.ignore
.npmignore
.prettierignore
.solhintignore
scripts/airdrop_addresses.csv
yarn.lock
tsconfig.json
.envrc
.tool-versions
.idea
.vs_code